{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "browser": true
  },
  "plugins": [
    "babel",
    "react"
  ],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ['*.config.js']
    }],
    "no-multi-spaces": [1, {
      "exceptions": { "VariableDeclaration": true, "ImportDeclaration": true }
    }]
  }
}